<nav>
	<div class="nav-wrapper black">
		<div class="col s12">
			<a href="#!" class="brand-logo left">80/20</a>
			<ul class="right "> <!--hide-on-med-and-down">-->
				{{#link-to 'settings' tagName="li"}}
					<a href="/settings"><i class="material-icons">settings</i></a>
				{{/link-to}}
			</ul>
		</div>
	</div>
</nav>
<div class="container">

	{{!--<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="col-sm-1">healthy</th>
				<th class="col-sm-1">unhealthy</th>
			</tr>
		</thead>
		<tbody>
			{{#each piece in model}}
				<tr>
					<td>
						{{piece.healthy}}
					</td>
					<td>
						{{piece.unhealthy}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>--}}

	<h3>unhealthy: {{unhealthy}}</h3>
	<button {{action "incUn"}}>increment unhealthy</button>
	<h3>healthy: {{healthy}}</h3>
	<button {{action "incHe"}}>increment healthy</button>

	<!-- pie component -->
	{{c3-graph data=data legend=legend tooltip=tooltip size=size}}

	<!--div for pie rendering -->
	{{!--<div class="pie-container">
		{{#render-pie unhealthy=unhealthy healthy=healthy}}
			<div id="pie"></div>
		{{/render-pie}}
	</div>--}}
	<!--div for chart rendering -->
	<div class="chart-container">
		{{#render-chart}}
			<div id="chart"></div>
		{{/render-chart}}
	</div>
	{{outlet}}
</div>



